name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout
        uses: actions/checkout@v3

      # 2. Устанавливаем JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Кэшируем Gradle
      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # 4. Сборка проекта
      - name: Build with Gradle
        run: ./gradlew build

      # 5. Сборка APK
      - name: Assemble Debug APK
        run: ./gradlew assembleDebug

      # 6. Сохраняем артефакт (APK)
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: simplegame-apk
          path: app/build/outputs/apk/debug/app-debug.apk
